.admin-users-list-wrapper{
    position: fixed;
    top: 5px;
    z-index: 10;
}
.admin-users-list-button {
    position: fixed;
    height:30px;
    font-size: 18px;
    background-color: $secondarycolor;
    color: $maincolor;
    z-index: 3;
    bottom: 54px;
    left: 20%;
}
.hidden{
    display: none
}

.admin-group-list {
    display:flex;
    background-color: $maincolor;
    color: $secondarycolor;
    border: 1px solid $secondarycolor;
    padding: 15px;
    margin: 5px auto;
    width: 95%;
}
.admin-users-list {
    background-color: $maincolor;
    color: $secondarycolor;
    border: 1px solid $secondarycolor;
    padding: 15px;
    margin: 5px auto;
    width: 95%;
}
.admin-type-list {
 display: flex;
 justify-content: space-around;


}
.admin-type-list-wrapper {
   overflow: scroll;
   height: 60%;
   padding-bottom: 100px;
   }

.user-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .user-list-element{
       display:flex;
       padding: 10px;
      border:1px solid $secondarycolor;
      margin-left: 25px;
   }
   .profile-grid  {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 4; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 3 / 3 / 4 / 4; }
.even{
    border-bottom: 1px solid $maincolor;
    margin-bottom: 23px;
}
