.Event-grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    height: 100%;
    width: 98%;
    justify-content: space-between;
    
    margin:0 1%;
}
.Event-list-grid{
    margin-bottom: 90px;
}
.Event-list-grid-addplayers{
    margin-bottom: 0px;
}
.Event-grid-item {
    height: 98%;
    width: 100%;
    border: solid 2px white;
    color: white;
    overflow:scroll;
    overflow-x:hidden;

    
}
.Event-list-item {
    background-color: $secondarycolor;
    border:1px solid white;
    color: $maincolor;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-size:1.5em;
    text-align: center;
    
}
.Select-player{
    display:flex;
    flex-direction: row;
    font-size: 1.5em;
}
.Result-mini-strip {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.Result-mini-item {
    margin-right: 9px;
    background-color: white;
    width: 39px;
    border-radius: 45%;
    font-size: 0.7em;
    padding-top: 7px;
}
.Scoreboard-dropdown{
    width: 100%;
    display: inline-flex;
}
.Scoreboard-addPlayer-button{
    background-color: $secondarycolor;
    color: $maincolor;
    margin: 5px auto;
    width:40%;
}

.Remove-button{
    margin-left:auto;
    border: 1px solid white;
    width:35px;
    align-content: center;
    padding-bottom: 9px;
}
.Event-form {
    width:60%;
    margin: 2px auto;
    border-radius: 25%;
    align-content: center;
}
.Score-button{
    background-color: grey;
    color: darkred;
    position: relative;
    width: 16%;
    height: 50px;
    margin: 1px;
    font-size: 1.8em;
}
.Pop-up {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:  rgba(13, 0, 131, 0.8);
}
.Card-wrapper{
    margin: 10px auto;
    width: 350px;
    height: 200px;
    background-color: rgba(13, 0, 131, 0);

}
.Player-results-board {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: darkgray;
    justify-content: space-between;
}
.Player-results {
    width: 30%;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 1.4em;
    border-radius: 45%;
    margin-top: 5px;
    text-align: center;
    padding:7px;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .Event-grid {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 98%;
        justify-content: space-between;
        
    }
    .Event-grid-item {
        height: 98%;
        width: 100%;
        border: solid 2px white;
        color: white;
        overflow:scroll;
        overflow-x:hidden;
    
        
    }
    .Event-list-item {
        
        width: 100%;
        
    }
    .Remove-button{
        margin-left:auto;
        border: 1px solid white;
        width:35px;
        align-content: none;
        padding-bottom: 0;
    }
   

}
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////   New Event
////////////////////////////////////////////////////////////////////////////////////////

 
.venue-area {
    display: flex;
    flex-wrap: wrap-reverse;
  margin-bottom: 200px
  }
.table {
    width: 320px;
    height: 200px;
    overflow: hidden;
    color: $secondarycolor;
    border: 8px double $secondarycolor;
    margin: 10px auto;
    text-align: center;
}
.event-table-user{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   
}
.element {
    width: 45%;
    border: solid 1px $secondarycolor;
    margin: 10px auto;
}
.event-type-dropdown {
    color:$secondarycolor;
    background-color: $maincolor;
    width: 95%;
    height: 40px;
    margin: 5px auto;
    border: 1px dotted $secondarycolor;
}