.Event-grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    height: 100%;
    width: 98%;
    justify-content: space-between;
    
    margin:0 1%;
}
.Event-grid-item {
    height: 98%;
    width: 100%;
    border: solid 2px white;
    color: white;
    overflow:scroll;
    overflow-x:hidden;

    
}
.Event-list-item {
    background-color: $secondarycolor;
    border:1px solid white;
    color: $white;
    height:30px;
    width: 100%;
    padding-left: 5px;
    font-size:1.5em;
    text-align: center;
    
}
.Select-player{
    display:flex;
    flex-direction: row;
}
.Remove-button{
    margin-left:auto;
    border: 1px solid white;
    width:35px;
    align-content: center;
    padding-bottom: 9px;
}
.Event-form {
    width:60%;
    margin: 2px auto;
    border-radius: 25%;
    align-content: center;
}
.Score-button{
    background-color: $buttonactivecolor;
    position: relative;
    bottom: -65%;   
    margin: 1px; 
}

@media only screen and (max-width: 500px) {
    .Event-grid {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 98%;
        justify-content: space-between;
        
    }
    .Event-grid-item {
        height: 98%;
        width: 100%;
        border: solid 2px white;
        color: white;
        overflow:scroll;
        overflow-x:hidden;
    
        
    }
    .Event-list-item {
        
        width: 100%;
        font-size: 1em;
        
    }
    .Remove-button{
        margin-left:auto;
        border: 1px solid white;
        width:35px;
        align-content: none;
        padding-bottom: 0;
    }
    .Score-button{
        background-color: $buttonactivecolor;
        position: relative;
        bottom: 0;
        left: 50%;   
        margin: 1px; 
    }
    }