
.hypecheck-exlude-list{
    background-color: $maincolor;
    font-size: 11px;
    color: $secondarycolor;
    display: flex;
    justify-content:  space-around;
}

.hypecheck-exlude-list-item{
      border: 1px solid $secondarycolor;
      padding: 7px;
      border-radius: 25% 0 0 25%;
}

.clicked{
    border: 1px solid $secondarycolor;
    color: $maincolor;
    background-color: $secondarycolor;
}
.hypecheck-results-list{
    margin: 15px auto;
    margin-bottom: 250px;
    text-align: center;
    font-size:48px;
    background-color: $maincolor;
    color:$secondarycolor;
    border-radius: 5% 5% 5% 5%;
    overflow: scroll;
}
.hypecheck-results-list td{
    border: solid 1px $secondarycolor;
    border-radius: 25px;
    padding: 15px;
}
.active-user-minilist{
    display: flex;
    justify-content: space-around;
}
.active-user-minilist{
    font-size: 24px;
    color:$secondarycolor;
    
}