.hype-wrapper {
    height: 60%;
    overflow: scroll;
    margin:auto auto;
    margin-bottom: 200px;
    width:max-content;
    font-size: 26px;

}

.hype-set-row {
    display:flex;
    border-bottom: 1px solid $secondarycolor;   

}

.hype-row-element {
    margin-left: auto;
    color: $secondarycolor;
}

.hype-list {
    margin-top: 20px;
    margin-bottom: 200px;
}
.hype-options{
    background-color: $secondarycolor;
    border: 2px dotted $maincolor;
    border-radius: 50%;
    height: 38px;
    margin-left:15px;
}