body{
  background-color: $maincolor;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  .battlemind {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 130px;
    background-color: $maincolor;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 55px;
    
    
  }
  .workarea {
    position: relative;
    top: 7px;
    width: 100%;
    height: 68vh ;
    background-color: $maincolor;
    overflow: scroll;
  }
  .info-bar {
    margin: 0px 2px;
    background-color: $maincolor;
    color: $secondarycolor;
    padding: 10px;
    border: ridge 2px $secondarycolor;
    font-weight: bold;
    font-size: larger;
  }

  .navbar {
    position: fixed;
    width: 100%;
    background-color: $maincolor;
    color: $secondarycolor;
  }
  .navbar-light .navbar-brand {
    color: $secondarycolor;
}
  .dropdown-menu-right2 {
    top: -10px;
    right: 130px;
    left: auto;
  }
  .Closing-div {
    background-color: black;
    color: white;
    border-radius: 50%;
    z-index:990;
    font-size:1.4em;
    margin-left: auto;
    position: relative;
    right: -5px;
    top: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    padding: 0;
}
  
  /* Madia */

  .submit-button{
    background-color:black;
    color: $secondarycolor;
    border: solid 8px $secondarycolor;
    border-radius: 40%; 
    margin-top: 10%;
  }
@media only screen and (max-width: 550px) {
  .Workarea {
    
    }
  }
  
  @media only screen and (max-width: 1000px) {
  
    }

  