
.myform {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto auto;
   
  }
  .form-area{
    
  }
  .myform-control {
    
    height: 40px;
    width: 90%;
    margin: 12px auto;
    color: $secondarycolor;
    border: solid 1px $secondarycolor;
    background-color: $maincolor;
  }
  .myform-control-sidebar{
    width: 50%;
  }
  .submit-button{
    background-color:black;
    color: $secondarycolor;
    border: solid 8px $secondarycolor;
    border-radius: 40%; 
    height:170px;
    width:100%;
    
  }
  .response-display{
    width: 90%;
    height:15%;
    background-color: $maincolor;
    color: $secondarycolor;
    margin: 5% auto;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
  }
  .Modal {
    position: fixed;
    height: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 5%;
  }

  .Cancel-button {
    position: relative;
    z-index: 1001;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 80%;
    font-size: 3em;
    text-decoration: none;
    align-content: center;
    border: solid 2px white;
    border-radius: 50% 50% 50% 50%;
    padding: 5px;
  
  }
  a:hover {
    color: white;
  }
  .Inline {
    display: flex;
    justify-content: space-between;
  }