
.myform {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto auto;
   
  }
  .myform-control {
    height: 30px;
    width: 240px;
    margin: 5px auto;
  }
  .Submit-button {
    background-color: chocolate;
    width: 100%;
    height: 30px;
    margin: 5px auto;
  }
  .Modal {
    position: fixed;
    height: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 5%;
  }

  .Cancel-button {
    position: relative;
    z-index: 1001;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 80%;
    font-size: 3em;
    text-decoration: none;
    align-content: center;
    border: solid 2px white;
    border-radius: 50% 50% 50% 50%;
    padding: 5px;
  
  }
  a:hover {
    color: white;
  }
  .Inline {
    display: flex;
    justify-content: space-between;
  }