.content {
    height:78vh;
    width: 100%;
    overflow: auto ;
    position: absolute;
    margin-bottom: 70px;
    
    align-items: center;
    background-color: black;

    
}
.maincontent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
 
  
    
}
.myform {
    display: flex;
    flex-direction: column;
    width: 40%;
   
}
.myform-control {
    height: 30px;
    width: 100%;
    margin: 5%;
}
.submit-button {
    background-color: chocolate;
    width: 100%;
    margin: 5%;
}
.button {
    background-color: rgb(252, 17, 0);
    width: 25%;
    padding: 8px;
    border: 1px solid coral;
    text-align: center;
}
.update {
    background-color: rgb(20, 8, 122);
    margin-left: auto;
}

.list-grid {
   
    color: cornsilk;
}
.list-item {
    display: flex;
    justify-items: flex-end;
    border: 1px solid cornsilk;
}
@media only screen and (min-width: 700px) {
.content {
    height:85vh;
    }
}

@media only screen and (min-width: 1000px) {
    .content {
        height:90vh;
        }
    }